/* loading */
.loading-container {
  display: block;
  position: fixed;
  top: 0;
	bottom: 0;
  left: 0;
	right: 0;
  z-index: 999999;
	background-color: #000;
}
.loading-gif {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 150px;
}
.hideLoading {
	opacity: 0;
	transition: .5s;
}
.hide {
	display: none;
}

/* alcohomeme 風格按鈕 */
.alcohome-button {
	display: block;
	width: 129px;
	font-size: 16px;
	line-height: 42px;
	text-align: center;
	padding: 0px 30px;
	border-radius: 22px;
	cursor: pointer;
}
.alcohome-button-white {
	border: 1px solid #fff;
	color: #000;
	background-color: #fff;
	font-weight: bold;
}
.alcohome-button-white:hover {
	color: #fff;
	background-color: #000;
	transition: 0.2s;
}
.alcohome-button-black {
	border: 1px solid #fff;
	color: #fff;
	background-color: #000;
	font-weight: bold;
}
.alcohome-button-black:hover {
	color: #000;
	background-color: #fff;
	transition: 0.2s;
}
.alcohome-form-button {
	display: block;
	width: 100%;
	line-height: 42px;
	text-align: center;
	padding: 0px 30px;
	border-radius: .25rem;
	cursor: pointer;
}


/* border 描邊文字 */
.border-text img {
	display: block;
	margin: auto;
	width: 90%;
}
@media screen and (min-width: 1200px) {
	.border-text {
		padding-bottom: 100px;
	}
	.border-text img {
		width: 60%;
	}
}

/* 酒單輪播 */
.your-love-drink .slick-arrow.slick-prev {
	left: 30px;
	z-index: 99;
	top: 45%;
	transform: translate(0, -45%);
}
.your-love-drink .slick-arrow.slick-next {
	right: 30px;
	z-index: 99;
	top: 45%;
	transform: translate(0, -45%);
}
.drinks-card-header > img {
	display: block;
	margin: auto;
	width: 85%;
	object-fit: cover;
}
.drinks-card-footer {
	padding: .5rem;
	text-align: center;
}


/* 使用地點輪播，照片上下落差排列 */
.any-place .slick-arrow.slick-prev {
	left: 30px;
	z-index: 99;
}
.any-place .slick-arrow.slick-next {
	right: 30px;
	z-index: 99;
}
.place-card > img {
	display: block;
	margin: auto;
	width: 90%;
	height: 400px;
	object-fit: cover;
}
.any-place .slick-slide:nth-child(2n) .place-card {
	margin-top: 70px;
}
@media screen and (max-width: 576px) {
	.any-place .slick-slide:nth-child(n) .place-card {
		margin-top: 0;
	}
}
.place-card > h4 {
	text-align: center;
}

/* footer */
footer {
	background-color: #141414;
}
footer > .logo {
	display: block;
	margin-bottom: 2.25rem;
	text-align: center;
}
.company-info, .copy-right {
	color: #fff;
}
.company-info, .footer-nav {
	padding-bottom: 2.25rem;
}
.footer-info-container .company-info-text {
	width: 90%;
	text-align: center;
	margin: 0 auto;
}
.company-social-media {
	text-align: center;
}
.company-social-media > a {
	display: inline-block;
	margin: 0 10px;
	color: #141414;
}
@media screen and (min-width: 768px) {
	.company-social-media {
		text-align: left;
	}
}
.icon-line {
	width: 50px;
	height: 50px;
}
.icon-line img {
	width: 100%;
	color: #fff;
}
.icon-fb {
	font-size: 18px;
	font-weight: 600;
	padding: 2px 8px;
	border-radius: 4px;
	background-color: #fff;
}
.icon-fb:active {
	color: #141414;
}
.footer-nav {
	display: flex;
	flex-direction: column;
	text-align: center;
}
.footer-nav > a {
	padding-bottom: 2.25rem;
	color: #fff;
}
.footer-nav > button {
	margin: auto;
}
.copy-right {
	text-align: center;
}
@media screen and (min-width: 768px) {
	footer {
		padding-left: 2.25rem !important;
		padding-right: 2.25rem !important;
	}
	footer > .logo {
		text-align: left;
	}
	.footer-info-container {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		padding-bottom: 2.25rem;
	}
	.company-info, .footer-nav {
		padding-bottom: 0;
	}
	.footer-info-container .company-info-text {
		width: 100%;
		text-align: left;
	}
	.icon-line {
		margin-left: 0;
	}
	.footer-info-container {
		position: relative;
	}
	.footer-nav {
		position: absolute;
		right: 0;
		bottom: 2.75rem;
		order: 2;
		display: flex;
		flex-direction: row;
		align-items: center;
		padding-bottom: 0;
	}
	.footer-nav > a {
		padding-bottom: 0;
		padding-right: 2rem;
	}
}

/* Modal form */
.require::after {
	content: '＊';
	color: red;
	font-size: .8rem;
	font-weight: bold;
}
.field {
	display: flex;
	flex-direction: column;
	padding-bottom: .8rem;
}
.field label{
	margin-bottom: .3rem;
}
.field input,.field textarea {
	font-size: 1rem;
	background-color: #141414;
	padding: .5rem 1rem;
	border-radius: .25rem;
	outline: none;
	border: none;
}
.modal-line.icon-line {
	margin: 0;
}
.form-img {
	width: auto;
	height: 190px;
	object-position: 90px;
	position: absolute;
	right: 0;
}
@media screen and (min-width: 992px) {
	.form-img {
		height: 260px;
		object-position: 70px;
	}
	.modal-dialog {
    max-width: 900px;
	}
	.modal-header {
		padding-top: 60px;
		padding-left: 47px;
	}
	.modal-body {
		padding-left: 145px;
		padding-right: 145px;
	}

}